@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400;700&display=swap');

* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;       
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;  
}


html {
  scroll-behavior: smooth;
}

section::before {
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
}



#main {
  background-color: black;
  padding: 20px;
}




#main nav{
  display: flex;
  flex-direction: row;
  align-items: center;
	padding-left: 50px;
	padding-top: 10px;
  position: fixed; 
  top: 0;          
  left: 0;
  background: black;
  width: 100%;
  padding-bottom: 10px;
  
}
nav img{
  width: 82px;
  height: 82px;
}

.menu {
  display: flex;
  margin-left: auto;

}

.menu a {
  font-weight: bold;
  font-size: 16px;    
  color: white;
  text-decoration: none;
  margin-right: 30px; 
}
.burger {
  display: none;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

#promo {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;  
  gap: 13vw;               
  padding: 65px 20px;      
  background-color: black;
  flex-wrap: wrap;
}

#promo div {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 20px;              
}

#promo img {
  width: 70%;       
  height: auto;         
  border-radius: 20px;  
  object-fit: contain;  
}


#promo div h1 {
  color: white;
  font-size: 48px;
  line-height: 1.3;
  padding: 50px;
  margin-top: 50px;              
}

#promo button {
  border-radius: 12px;       
  font-weight: 700;          
  font-size: 18px;
  padding: 12px 30px;        
  background-color: white;
  color: black;               
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 50px;
  width: 50%;
}

#promo button:hover {
  background-color: black;
  color: white;
  border-color: white;
  transform: scale(1.05);    
}


#aboutUs{
	padding-bottom: 50px;
  padding-left: 70px;


}

#aboutUs h2{
	font-size: 36px;
	padding-top: 60px;
	padding-bottom: 30px;
}

.columnwrap {
  display: flex;
  gap: 40px; 
  flex-wrap: wrap;
  padding-bottom: 50px; 
}

.column {
  flex: 1 1 45%; 
  justify-content: space-between;
  display: flex;
  flex-direction: column; 
}

#aboutUs p {
  font-size: 18px;
  width: 100%; 
  text-align: justify;
}



.column img, .column video{
	width: 100%;
	padding-bottom: 20px;
}



#commercial {
    background-color: black;
    padding-bottom: 50px;
    padding-left: 70px;

}

#commercial h2{
	color: white;
	font-size: 36px;
	padding-top: 60px;
}


#commercial div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#commercial div div{
  display: flex;
	width: 27%;
	padding: 5%;
  justify-content: flex-start;
	flex-direction: column; 
  align-items: center;
}

#commercial div div img {
	width: 75px;
}

#commercial div div  p {
  color: white;
  font-size: 18px;
  text-align: center;
  
}

#commercial div div p.subtitle {
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 30px 0px 10px 0px;
}




#commercial table{
  margin: 60px auto 40px auto; 
  width: 80%;       
  max-width: 1300px;
  border-color: white;
  border-collapse: collapse;
  min-width: 500px;
}



#commercial table th {

  background-color: #333;
}

#commercial table td:not(:last-child) {
  padding-bottom: 15px;
}

#commercial table td {
  vertical-align: top; 
}

#commercial th,
#commercial td {
  color: white;
  width: 33.33%;
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 20px;
  border: 1px solid white;
  transition: transform 0.25s ease, background-color 0.25s ease;
  text-align: center;
}

#commercial th:hover,
#commercial td:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(1, 1, 1, 1);
  transform: scale(1.1);
  cursor: pointer;
  border-color: #00aaff;

}
#commercial table, 
#commercial table th, 
#commercial table td {
  border: 1px solid white; 
}

#buttons {
  display: flex;
  justify-content: center; 

  height: auto;   
  margin: 0px auto 0px auto;
}
#commercial button{
  width: 20%;
  height: 75px;
  border-radius: 22px;       
  font-weight: 500;          
  font-size: 24px;        
  background-color: white;
  color: black;               
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 50px;
}

#commercial button:hover {
  background-color: black;
  color: white;
  border-color: white;
  transform: scale(1.05)
}





#partners h2 {
	padding-top: 60px;
  font-size: 36px;
}

#partners div { 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
  margin-bottom: 50px;
	
}

#partners div img {
  height: 12vh;
  width: auto;
  padding: 1vh;

}

#partners h3{
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px;
}

#form {
  padding: 60px;

  background-color: #D9D9D9;
  border-radius: 38px;
  width: 50%;

}

#form input, #form textarea{
  padding-bottom: 17px;
  padding-top: 17px;
  padding-left: 25px;
  border: none;
  background: white;
  border-radius: 24px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-weight: 200;
}

#form p{

  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-weight: 200;

}


#form label {
  font-size: 14px;
  font-weight: 200;
}
.gender, .topics{
  
  align-items: center;
  width: 80%;
  text-align: center;
}




#form button {
  border: none;
  background-color: #02DB23;
  width: 80%;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
  color: white;
}

#contacts {
  padding-top: 20px;
  background-color: black;
}

#contacts::before{
  content: none;
}

.footercol{
  flex: 1 1 100px;
  flex-wrap: none;

}

.footercol p, .footercol a
{
  color: white;
  font-size: 14px;
 
}


#fp {
  color: white;
  font-size: 16px;
  text-align: center;
}

#contacts > div {
  display: flex; 
  flex-direction: row;   
  justify-content: space-between;   
  gap: 40px;           
  flex-wrap: wrap;  

}

#contacts .footerwrap .footercol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contacts > div > div {
  flex: 1;             
  min-width: 200px;    
  display: block; 
  max-width: 20%;     
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}




#contacts p {
  padding: 10px 0;
}

#footer p{
	padding: 20px;
}

section {
  padding: 100px 75px;
}

#partners {
  padding-top: 100px;
  padding-left: 75px;
  padding-bottom: 25px;
}

#forma{
  padding-top: 100px;
  padding-bottom: 25px;
}

#contacts {
  padding-bottom: 30px;
}



/* --- Ноутбуки <1400px --- */
@media (max-width: 1400px) {
  #main nav {
    padding-left: 2.1vw;
    padding-right: 3vw;
  }
  nav a {
    margin: 0 1vw;
    font-size: 1.1vw;
  }

  #promo {
    padding-right: 0.36vw;
    flex-wrap: wrap;
    padding-top: 8.5vh;
  }

  #promo div {
    flex:1 1 30vw;
  }

  #promo div h1 {
    font-size: 36px;
    padding: 1.5vh;
  }
  .burger {
    display: none;
  }
  .burger img{
    display: none;
  }

  #promo button {
    width: 45%;
    font-size: 1.1vw;
  }

  #aboutUs {
    padding-left: 3vw;
    padding-right: 3vw;
  }



  .columnwrap {
    gap: 2vw;
  }

  .column {
    flex: 1 1 32vw;
  }

  #aboutUs p {
    font-size: 1,2vw;
    width: 90%;
  }

  .column img, video{
    width: 100%;
    padding: 1vw;
    padding-bottom: 0.5vw;
  }

  #commercial {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #commercial div div {
    width: 45%;
  }

  .subtitle{
    font-size: 0.71vw;
  }

  #commercial button {
    width: 20%;
    font-size: 2vw;
    margin: 1.5vw auto;
  }

  #partners{
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #partners div img {
    height: 10vh;
    width: auto; 
  }

  #forma {
    align-items: center;
    padding: 0;
  }
  #formwrap{
    align-items: center;
  }

  #form {
    width: 70%;
    padding: 40px;
  }

  #form input, #form textarea {
    width: 90%;
  }

  #contacts{
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #contacts > div {
    gap: 1.5vw;
  }

  .footercol p, .footercol a {
    font-size: 0.85vw;
  }

  #fp {
    font-size: 1vw;
  }


}

/* --- Телефони (до 768px) --- */
@media (max-width: 768px) {
  #main nav {
    
    padding: 1.5vh 3vw;
    justify-content: space-between; 
  }

  .menu {
    display: none; 
  }

  nav a {
    margin: 0.7vw;
    font-size: 2vw;
  }

  .burger {
    display: block;
  }
  .burger img {
    display: block;
  }

  .menu-toggle:checked ~ .menu {
    display: flex; 
    flex-direction: column;
    gap: 1.5vh;
    position: absolute;
    top: 10vh;
    right: 3vw;
    background-color: black;
    padding: 2wh 1vw;
  }    

  #promo {
    flex-direction: column;
    gap: 3vh;
    padding-top: 12vh;
  }

  #promo div {
    width: 80vw;
  }

  #promo div h1 {
    font-size: 4vw;
    padding: 1,43vw;
  }

  #promo button {
    width: 80%;
    font-size: 2.5vw;
  }

  #aboutUs {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  #aboutUs h2 {
    font-size: 3.5vw;
    padding-top: 6vh;
    padding-bottom: 3vh;
    text-align: center;
  }

  .columnwrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .column {
    flex: 1 1 100%;
    width: 100%;
    align-items: center;
  }

  #aboutUs p {
    width: 100%;
    font-size: 1.6vh;
  }

  .column img, {
    width: 90%;
  }


  #commercial {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 5vh;
  }

  #commercial h2 {
    font-size: 3.5vw;
    padding-top: 6vh;
    text-align: center;
  }

  #commercial > div:first-of-type {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1vw;
    padding-bottom: 2vh;
  }

  #commercial > div:first-of-type > div {
    flex: 0 0 48%;
    width: 40vw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2vw;
    background-color: #111;
    border-radius: 2wh;
    box-sizing: border-box;
  }             

  #commercial > div:first-of-type > div img {
    width: 8vw;
    height: auto;
    margin-bottom: 1vh;
  }

  #commercial > div:first-of-type > div p.subtitle {
    font-size: 2vh;
    padding: 1.5vh 0 1vh 0;
  }

  #commercial > div:first-of-type > div p:not(.subtitle) {
    font-size: 1.6vh;
    text-align: center;
  }


  #commercial table {
    padding-left: 0vw;
	padding-right: 0vw;
	font-size: 1vh;
    width: 60%;
	border-collapse: collapse;
	word-wrap: break-word;
  }

  #buttons{
    flex-direction: row;
    flex: 1, 1;
  }

  #commercial button {
    width: 20%;
    height: 5vh;
    border-radius: 1.4vh;
    font-size: 1.4vh;
    margin: 20px auto;
  }


  #partners{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  #partners h2 {
    font-size: 3.5vw;
    padding-top: 6vh;
    text-align: center;
  }
  #partners div:first-of-type {
    flex-direction: column;
    gap: 2vh;
    align-items: center;
  }

  #partners div img {
    width: 75vw;
    height: auto;
    
  }

  #forma h3 {
    font-size: 2vh;
    padding: 0 1vh;
  }

  #formwrap {
    display: flex;
    justify-content: center;
  }

  #form {
    width: 90%;
    padding: 3vh 3vw;
    border-radius: 3vh;
  }

  #form input, #form textarea {
    width: 100%;
    font-size: 14px;
    padding: 1.2vh; 2vw;
    border-radius: 1vh;
  }

  #form button {
    width: 100%;
    font-size: 1.4vh;
    padding: 1.2vh;
  }

  #contacts{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }

  #contacts > div {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  .footerwrap{
    flex-direction: column;
    align-items: center;
  }

  .footercol {
    padding: 0;
    margin: 0;
    width: 90%;
    align-items: center;
    text-align: center;
  }

  .socials {
    flex-direction: column;
    gap: 0px;
  }

  .footercol p, .footercol a {
    font-size: 1.2vh;
    line-height: 1;

  }

  .hide {
    display: none;
  }

  #fp {
    font-size: 1vh;
    padding: 1vh 0;
  }
}
